/* 格式化 */
div,span,a,ul,li,h1,h3,p,body,button{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}
body, button, input, select, textarea {
    font:12px/1.5tahoma, arial, \5b8b\4f53; 
}
a {
    text-decoration: none;
}

/* 版心居中 */
.container {
    width: 1200px;
    margin: 0 auto;
}
/* 文章卡片效果 */
.card {
    background-color: rgba(255, 255, 255,.3);
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}
/* 导航条 */
.topnav {
    overflow: hidden;
    background-color:rgba(231, 226, 226,.3);
    border-radius: 10px 10px 0 0;
}

/* 导航条链接 */
.topnav ul li {
    float: left;
}
.topnav ul li button {
    padding: 5px 15px;
    border-radius: 15px;
    /* margin-right: 150px; */
    background-color: rgba(135, 112, 238,.1);
    border: none;
    box-shadow: 1px 1px 5px rgb(135, 112, 238);
}
.topnav ul li button:hover {
    box-shadow: 1px 1px 5px rgb(211, 238, 112);
    color: rgb(65, 6, 6);
}

.topnav ul li input {
    outline: none;
    height: 20px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 8px 10px 0 250px; 
    border: none;
    background-color: rgb(255, 255, 255,0.3);
}
.topnav ul li input:focus {
    color: rgb(161, 111, 243);
    box-shadow: 1px 1px 5px rgb(135, 112, 238);
}
.topnav ul li a {
    display: block;
    padding: 10px 20px; 
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
}


/* 导航链接颜色修改 */
.topnav a:hover {
    background-color: rgba(212, 193, 241, 0.3);
    color: rgb(41, 8, 8);
    box-shadow: 1px 1px 5px rgb(72, 186, 227);
}