/* 公共样式 */

/* 声明字体图标 */
@font-face {
    font-family: 'iconfont';  /* Project id 3394428 */
    src: url('//at.alicdn.com/t/font_3394428_tqd8c8zslx.woff2?t=1652406612415') format('woff2'),
        url('//at.alicdn.com/t/font_3394428_tqd8c8zslx.woff?t=1652406612415') format('woff'),
        url('//at.alicdn.com/t/font_3394428_tqd8c8zslx.ttf?t=1652406612415') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 版心 */
.w {

    width: 1200px;
    margin: 0 auto;

}

/* 单个盒子左浮动 */
.fl {
    float: left;
}

/* 单个盒子右浮动 */
.fr {
    float: right;
}

/* 公共样式：红色 */
.style_red {
    color: #cb1623;
}


/* 快捷导航模块 */
.shortcut {

    height: 31px;
    /* 垂直居中会继承 */
    line-height: 31px;
    background-color: #f1f1f1;
}
.shortcut ul li {
    float: left;
}

/* 选择所有偶数的小li */
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #696969;
    margin: 9px 15px 0;
}
.arrow-icon::after {
    content: '\e6b4';
    font-family: 'iconfont';
}


/* header 头部模块制作 start*/
.header {
    position: relative;
    height: 105px;
    /* background-color: red; */
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
    background-color: #fff;
}
.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    font-size: 0;
}

.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b2181a;
}
.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}
.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b2181a;
    font-size: 18px;
    color: #fff;
}
.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}
.hotwords a {
    /* 行内元素可以指定左右margin值 */
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}
.shopcar::before {
    content: '\e765';
    font-family: 'iconfont';
    margin-right: 5px;
    color: #e0574f;
}
.shopcar::after {
    content: '\e6b7';
    font-family: 'iconfont';
    margin-left: 10px;
    /* font-size: 20px; */
}


/* 这个计数模块不要给宽 */
.count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    color: #fff;
    background-color: #e0574f;
    padding: 0 5px;
    /* 行高会继承，我们需要层叠掉 */
    line-height: 14px;
    border-radius: 7px 7px 7px 0;
}