* {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* 版心居中 */
.container {
    width: 1400px;
    margin: 0 auto;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

/* 导航条 */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* 导航条链接 */
.topnav ul li a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
}

/* 链接颜色修改 */
.topnav a:hover {
    background-color: rgb(72, 186, 227);
    color: rgb(10, 10, 10);
    box-shadow: 2px 2px 5px rgb(72, 186, 227);
}

/* 创建两列 */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* 右侧栏 */
.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* 图像部分 */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* 文章卡片效果 */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* 列后面清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* 底部 */
.footer {
    padding: 10px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}