.search-list {
    text-align: center;
    margin-left: 15px;
}
.search-list li{
    list-style: none;
    float: left;
    display: block;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
}
.search-list li p {
    color: #fff;
}
/* .search-list li a {
    color: #fff;
} */
.search-list li:hover {
    background-color: rgba(0,0,0,.1);
}
.search-list li:hover a {
    color:#fff;
}
.search-list li a {
    text-decoration: none;
}

