html {
    background-color: rgb(71, 68, 68);
}

.movie-body-box {
    margin-top: 20px;
}
.movie-body-box h3 {
    color: rgb(247, 242, 242);
    margin-bottom: 20px;
}
.movie-body-box input {
    padding-left: 15px;
    outline: none;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(248, 245, 245,.5);
}
#jx-list {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255,0.5);
}
#jx-list option {
    background-color: rgba(151, 208, 232,0.8);
}

.movie-body-box a {
    color: rgb(251, 247, 247);
    padding: 0 10px;
}
