* {
    padding: 0;
    margin: 0;
}
h1 {
    color: red;
    
}
body {
    background-color: #ccccd6;
}
.tag {
    width: 100px;
    height: 200px;
    background-color: rgb(227, 83, 83);
    border-radius: 5px;
}