* {
    padding: 0;
    margin: 0;
}

h1 {
    color: rgb(152, 84, 84);

}

body {
    background-color: #ccccd6;
}

.tag {
    width: 100px;
    height: 50px;
    background-color: rgb(174, 166, 166);
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
}

.tag a {
    text-decoration: none;
    color: rgb(202, 230, 246);
}