* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 宋体;
    font-weight: normal;
}

h1 {
    color: rgb(152, 84, 84);

}

body {
    background-color: #ccccd6;
}

.start_nav {
    background-color: rgb(241, 239, 239);
    height: 50px;
}
.start_nav li {
    float: right;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 0 50px;
    background-color: rgb(201, 197, 197);
}
.start_nav li:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.start_nav li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
#nowTime {
    color: rgb(237, 44, 26);
}